<!DOCTYPE html>
<html>
  <body style="margin: 0; padding: 0; font-family: 'Asap', sans-serif; background-color: #311C1CFF">
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center" style="padding: 40px 0">
          <table
            width="600"
            cellpadding="0"
            cellspacing="0"
            style="background-color: #ffffff; border-radius: 12px; padding: 32px"
          >
            <tr>
              <td
                align="center"
                style="background-color: #8C4D4DFF; padding: 30px 20px; border-radius: 12px 12px 0 0"
              >
                <h1 style="color: #fff; font-size: 28px; margin: 0">
                  Resultados de la postulación
                </h1>
              </td>
            </tr>

            <tr>
              <td align="center" style="padding: 16px 0 1px 0">
                <span
                  style="
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    background: #DFA8A8FF;
                    border-radius: 50%;
                    margin: 4px;
                  "
                ></span>
                <span
                  style="
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    background: #BE7A7AFF;
                    border-radius: 50%;
                    margin: 4px;
                  "
                ></span>
                <span
                  style="
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    background: #932F2FFF;
                    border-radius: 50%;
                    margin: 4px;
                  "
                ></span>
              </td>
            </tr>

            <tr>
              <td style="color: #333333FF; font-size: 18px; text-align: center">
                <p>Hola <strong><%= pName %></strong>,</p>
                <p>
                  Lamentamos informarte que tu solicitud para participar en <strong>Patrones Hermosos</strong> ha sido rechazada por los siguientes motivos:
                </p>
                <p><strong><%= reason %></strong></p>
                <p style="font-size: 14px;">
                  Si deseas volver a relizar el registro, te pedimos dar solución a los motivos anteriormente 
expuestos y llenar nuevamente el formulario de registro haciendo uso del siguiente código:
                </p>
                <p style="font-size: 25px; color: #932F2FFF"><strong><%= code %></p></strong></p>
                <p style="font-size: 14px; color: #6E6E6EFF">
                  Si tienes cualquier duda puedes comunicarte al correo: <strong>
                    <a href="mailto:<%= iEmail %>"><%= iEmail %></a>
                  </strong><br />
                  Gracias por tu interés en Patrones Hermosos. 
              </td>
            </tr>

            <td align="center" style="font-size: 12px; color: #999">
              © 2025 Patrones Hermosos – Comité Organizador
            </td>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
